@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');

.nav li:hover {
    font-weight: bold;
  }
  .nav {
    text-align: center;
    height: 5%;
  }
  .nav li {
    font-family: "Matemasie", sans-serif;
    font-size: 30px;
    padding: 10px;
    color: rgb(227, 27, 27);
    display: inline;
  }
  .logout-btn {
    position: absolute;
    right: 3%; 
}